# vimwiki snippets

snippet np
	%toc`VimwikiExpandedPageName()`
	
	= Summary =
	${1:summary_text}

	== ${2:Subhead} ==
	* ${3:subhead_contents}
snippet cm Commit message for a ticket
	${1:ticket} Commit message:
	$1: ${2:summary}
	${2:filename}: ${4:change}

snippet link Link for external file
	[[~/${1:sandbox/personal/}${2}][${3:title}]]
snippet sec Documentation section
	* \`linkhere\`:
	  - add #{provider} to \`blahblahblah\`
	  {{{
	  code
	  }}}
	  - add provider to \`blahblah\`
